<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_imagetranslator._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>需要访问本地网络以发现并连接图片翻译 Daemon。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>将翻译后的图片保存到相册。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>从相册选择要翻译的图片。</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
